$color-primary: #800080;
$color-secondary: #C71585;
$color-dark: #550455;
$color-bg: #F8F2FA;
$color-text: #333333;

$color-hover: #660066;
$color-active: #4d004d;
$color-outline: #FFAA00;

$font-serif: "Fraunces", serif;
$font-sans: "Work Sans", sans-serif;
