@use "../base/fonts";

$color-primary: #800080;
$color-secondary: #C71585;
$color-dark: #550455;
$color-bg: #F8F2FA;
$color-bg-hero: #D3BDD8;
$color-text: #333333;

$color-hover: #660066;
$color-active: #4d004d;
$color-outline: #FFAA00;

$font-serif: "Fraunces", "Fraunces Fallback", serif;
$font-sans: "Work Sans", sans-serif;

$shadow: 4px 4px 10px rgba(0,0,0,0.3);

