$color-primary: #800080;
$color-secondary: #C71585;
$color-bg: #f5e7f9;
$color-text: #333333;

$color-hover: rgb(146, 6, 146);
$color-active: rgb(110, 0, 110);
$color-outline: #FFAA00;

$font-sans: "Montserrat", sans-serif;
$font-serif: "Fraunces", serif;