---
layout: layout.njk
---

<section class="project">
  <div class="project__container">

    <!-- Galerie -->
    <div class="project__gallery">
      {{ content | safe }}
    </div>

    <!-- Text projektu -->
    <div class="project__text-container">
      <h1 class="project__heading">{{ title }}</h1>

      <div class="project__content">
        {{ description | safe }}
      </div>

      <ul class="project__list">
        {% if category %}<li><span class="project__label">Kategorie: </span>{{ category }}</li>{% endif %}
        {% if scope %}<li><span class="project__label">Rozsah prací: </span>{{ scope }}</li>{% endif %}
        {% if technique %}<li><span class="project__label">Technika: </span>{{ technique }}</li>{% endif %}
        {% if client %}<li><span class="project__label">Zadavatel: </span>{{ client | safe }}</li>{% endif %}
      </ul>

      <!-- Navigation -->
<nav class="project__navigation">
  {% set currentIndex = -1 %}
  {% for project in collections.projects %}
    {% if project.url == page.url %}
      {% set currentIndex = loop.index0 %}
    {% endif %}
  {% endfor %}

  {% set prevProject = collections.projects[currentIndex - 1] if currentIndex > 0 else null %}
  {% set nextProject = collections.projects[currentIndex + 1] if currentIndex < collections.projects | length - 1 else null %}

  {% if prevProject %}
    <a href="{{ prevProject.url }}" class="project__navigation-link project__navigation-link--previous">
      <i class="project__navigation-arrow fa-solid fa-arrow-left"></i>
    </a>
  {% endif %}

  <a href="/portfolio/" class="project__navigation-link project__navigation-link--back">Portfolio</a>

  {% if nextProject %}
    <a href="{{ nextProject.url }}" class="project__navigation-link project__navigation-link--next">
      <i class="project__navigation-arrow fa-solid fa-arrow-right"></i>
    </a>
  {% endif %}
</nav>

    </div>
  </div>
</section>
