@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../components/buttons";

// HERO SECTION
.hero {
    background-color: variables.$color-bg-hero;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 2rem 1.25rem 0 1.25rem;
        background: url('/images/autoportret/output/large/Autoportret_vlastovky-u_large_1000_orez.png') bottom right no-repeat;
        background-size: contain;
    }

    &__text-container {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        max-width: 50%;

        @media screen and (max-width: 58.125rem){
            max-width: 60%;
        }

        @media screen and (max-width: 54rem){
            margin-bottom: 7rem;
            max-width: 50%;
        }

        @media screen and (max-width: 43.75rem){
            margin-bottom: 7rem;
            max-width: 60%;
        }

        @media screen and (max-width: 37.5rem){
            margin-bottom: 13rem;
            max-width: 80%;
        }

        @media screen and (max-width: 31.25rem){
            max-width: 100%;
        }
    }

    &__heading {
        padding-top: 4rem;
        font-weight: 900;
        font-size: clamp(1.8rem, calc(1.8rem + 2.5vw), 4rem);
        margin-bottom: 1rem;
        animation: fadeInUp 0.8s ease-out forwards;
        animation-delay: 0.2s;
        opacity: 0; 
    }

    &__name {
        display: block;
    }

    &__tagline {
        display: block;
        font-family: variables.$font-sans;
        font-weight: 300;
        text-transform: none;
        font-size: clamp(1.2rem, calc(1.2rem + 1vw), 2.4rem);
        color: variables.$color-text;
        margin-top: 1rem;
        font-weight: 200;
    }

    // Buttons
    &__button-cta {
        @include buttons.button-cta;
        margin-top: 3rem;
        margin-bottom: 2rem;
        animation: fadeInUp 0.8s ease-out forwards;
        animation-delay: 0.6s;
        opacity: 0;

        @media screen and (max-width: 37.5rem){
            margin-top: 1rem;
        }
    }

    &__button-cta:hover {
        @include buttons.button-cta-hover;
    }

    &__button-cta:focus-visible {
        @include button-cta-focus-visible;
    }

    &__button-cta:active,
    &__button-cta:focus {
        @include buttons.button-cta-active;
    }

    &__link {
        @include buttons.button-cta-text;
    }
}

// Hero text animation
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// wrap
.wrap {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
}

// gallery section
.small-gallery {
    &__container {
        max-width: 70rem;
        margin: 0 auto;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__span {
        text-transform: none;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 30rem) {
            grid-template-columns: 1fr;
        }
    }

    &__column {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
        transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
        filter: blur(5px);
        display: none;
    }

    &__column.show {
        display: block;
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }

    &__figure {
        position: relative; 
        aspect-ratio: 1 / 1;
        overflow: hidden;
        margin: 0;
        z-index: 1;
        border-radius: 0.5rem;
        // box-shadow: 0 20px 60px rgba(0,0,0,0.2);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease; 
    }

     &__caption {
        position: absolute;
        width: 86%;
        height: 86%;
        bottom: 7%;
        left: 7%;
        right: 7%;
        background: rgba(255, 255, 255, 0.9); 
        color: white;
        padding: 0.625rem;
        transform: translateY(120%); 
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;

        &.visible {
            transform: translateY(0);
        }
    }

    &__figure:hover &__caption {
        transform: translateY(0); 
    }

    &__figure:hover &__image {
        transform: scale(1.1); 
    }

    &__figure.touched &__caption {
        transform: translateY(0);
    }

    &__figure.touched &__image {
        transform: scale(1.1);
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 2rem;

        @media screen and (max-width: 52rem) {
            font-size: 1.6rem;
        }

        @media screen and (max-width: 48.125rem) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 35rem) {
            font-size: 1.6rem;
        }

        @media screen and (max-width: 480px) {
            font-size: 2rem;
        }
    }

    &__category {
        color: variables.$color-text;
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__button-cta {
        @include buttons.button-cta;
        margin-top: 2rem;
        margin-bottom: 3rem;

        @media screen and (min-width: 31.25rem) {
            margin-bottom: 2rem;
        }
    }

     &__button-cta:hover {
        @include buttons.button-cta-hover;
    }

     &__button-cta:active,
     &__button-cta:focus {
        @include buttons.button-cta-active;
    }

    &__link {
        @include buttons.button-cta-text;
    }
}

// SESCTION ABOUT ME
.about {
    &__container {
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        max-height: fit-content;
        margin: 0 auto;
        padding-bottom: 1rem;
        // background-color: rgb(202, 176, 209);
        // background-image: url(/images/ilustrace/bg2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @media screen and (min-width: 50rem) {
            flex-direction: row;
            gap: 1.25rem;
        }
    }

    &__heading {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        margin: 0 1.25rem;
        flex: 1;
    }

    &__image-container {
        flex: 1;
        position: relative;
        margin-top: 1rem;
        margin-left: .25rem;

        @media screen and (max-width: 50rem) {
            margin-right: 1.25rem;
            display: flex;
            justify-content: center;
        }
    }

    &__image {
        max-width: 80%;
        max-height: auto;
        clip-path: circle(50% at 50% 50%);
    }

    &__button-cta {
        @include buttons.button-cta;
        margin-top: 1.25rem;
        overflow: hidden;
        position: relative;
        user-select: none;
        box-shadow: 0 0 0 0 rgba(white, 0.5);
        transition: box-shadow 150ms ease-out;
    }

    &__button-cta:hover {
        @include buttons.button-cta-hover;
    }

    &__button-cta:active,
    &__button-cta:focus {
        @include buttons.button-cta-active;
    }

}
