@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../components/buttons";

// HERO SECTION
.hero {
    &__container {
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        max-height: fit-content;
        margin: 0 auto;
        background-color: #f9e0ff;
        background: variables.$color-bg;
        overflow: hidden;
        position: relative;

        @media screen and (min-width: 50rem) {
            flex-direction: row;
            gap: 1.25rem;
        }
    }

    &__text-container {
        flex: 1;
        margin: 0 1.25rem;
    }

    &__image-container {
        flex: 1;
        position: relative;
        min-height: 300px;

        @media screen and (min-width: 50rem) {
            overflow: hidden;
        }

        @media screen and (max-width: 50rem) {
            max-width: 90%;
            align-self: center;
            margin: 2rem auto 0;
            overflow: visible;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        opacity: 0;

        // Desktop 
        @media screen and (min-width: 50rem) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateX(500px);
            animation: moveImageDesktop 1.5s ease-in-out 1s forwards;
        }

        // Mobile 
        @media screen and (max-width: 50rem) {
            position: static;
            transform: translateX(500px);
            display: block;
            margin: 0 auto;
            animation: moveImageMobile 1.5s ease-in-out 1s forwards;
        }
    }

    &__heading {
        padding-top: 5rem;
    }

    &__button-cta {
        @include buttons.button-cta;

        @media screen and (min-width: 50rem) {
            margin-bottom: 5rem;
        }
    }

     &__button-cta:hover {
        @include buttons.button-cta-hover;
    }

     &__button-cta:active,
     &__button-cta:focus {
        @include buttons.button-cta-active;
    }

    &__link {
        @include buttons.button-cta-text;
    }

    &__heading {
        text-transform: uppercase;
    }

    &__heading,
    &__text,
    &__button-cta {
        animation: moveText 1s ease-in-out forwards;
    }
}

// Desktop hero image animation
@keyframes moveImageDesktop {
    0% {
        transform: translateX(-50%) translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateX(0);
        opacity: 1;
    }
}

// Mobile hero image animation
@keyframes moveImageMobile {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

//wavy shape
.custom-shape-divider-bottom-1758789667 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1758789667 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-bottom-1758789667 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1758789667 svg {
        width: calc(100% + 1.3px);
        height: 32px;
    }
}

// Hero text animation
@keyframes moveText {
    0% {
        transform: translate(-500px,0);
    }
    100% {
        transform: translate(0px,0);
    }
}

// gallery section
.small-gallery {
    &__container {
        max-width: 70rem;
        margin: 0 auto;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text-container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 48rem) {
            justify-content: center;
            align-items: center;
        }
    }

    &__heading {
        text-transform: uppercase;
        margin-bottom: 0;

        @media screen and (min-width: 48rem) {
            text-align: center;
        }
    }

    &__text {
        @media screen and (min-width: 48rem) {
            max-width: 70%;
            text-align: center;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 30rem) {
            grid-template-columns: 1fr;
        }
    }

    &__column {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
        transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
        filter: blur(5px);
        display: none;
    }

    &__column.show {
        display: block;
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }

    &__figure {
        position: relative; 
        aspect-ratio: 1 / 1;
        overflow: hidden;
        margin: 0;
        z-index: 1;
        border-radius: 0.5rem;
        // box-shadow: 0 20px 60px rgba(0,0,0,0.2);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease; 
    }

    &__caption {
        position: absolute;
        width: 86%;
        height: 86%;
        bottom: 7%;
        left: 7%;
        right: 7%;
        background: rgba(255, 255, 255, 1); 
        color: white;
        padding: 0.625rem;
        transform: translateY(120%); 
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;

        &.visible {
            transform: translateY(0);
        }
    }

    &__figure:hover &__caption {
        transform: translateY(0); 
    }

    &__figure:hover &__image {
        transform: scale(1.1); 
    }

    &__figure.touched &__caption {
        transform: translateY(0);
    }

    &__figure.touched &__image {
        transform: scale(1.1);
    }

    &__title {
        margin: 0;
        text-align: center;
        text-transform: none;
        font-size: 2rem;
    }

    &__category {
        color: variables.$color-text;
        text-transform: uppercase;
        font-size: 0.8rem;
        text-align: center;
    }

    &__button-cta {
        @include buttons.button-cta;
        margin-bottom: 5rem;

        @media screen and (min-width: 31.25rem) {
            margin-bottom: 2rem;
        }
    }

     &__button-cta:hover {
        @include buttons.button-cta-hover;
    }

     &__button-cta:active,
     &__button-cta:focus {
        @include buttons.button-cta-active;
    }

    &__link {
        @include buttons.button-cta-text;
    }
}

// SESCTION ABOUT ME
.about {
    &__container {
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        max-height: fit-content;
        margin: 0 auto;
        padding-bottom: 1rem;
        background-color: #f9e0ff;
        background: variables.$color-bg;
        position: relative;

        @media screen and (min-width: 50rem) {
            flex-direction: row;
            gap: 1.25rem;
        }
    }

    &__heading {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        margin: 0 1.25rem;
        flex: 1;
    }

    &__image-container {
        flex: 1;
        position: relative;
        margin-top: 3rem;
        margin-left: 1.25rem;

        @media screen and (max-width: 50rem) {
            align-self: flex-end;
            margin-left: 0;
            margin-right: 1.25rem;
        }
    }

    &__image {
        max-width: 100%;
        max-height: auto;
        clip-path: circle(50% at 50% 50%);
    }

    &__button-cta {
        @include buttons.button-cta;
        margin-top: 1.25rem;
    }

    &__button-cta:hover {
        @include buttons.button-cta-hover;
    }

    &__button-cta:active,
    &__button-cta:focus {
        @include buttons.button-cta-active;
    }

}

//wavy shape
.custom-shape-divider-top-1758790287 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758790287 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-top-1758790287 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1758790287 svg {
        width: calc(100% + 1.3px);
        height: 32px;
    }
}
