// @use "../utils/variables";
// @use "../base/typography";
// @use "../base/base";
// @use "../components/buttons";

.hero2 {
    position: relative;
}

.custom-shape-divider-bottom-1758703978 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1758703978 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 34px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1758703978 .shape-fill {
    fill: #FFFFFF;
}