@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";

// Footer
.footer {
    background-color: variables.$color-primary;
    color: white;
    font-size: 0.875rem;

    &__container {
        max-width: 70rem;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    &__heading {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
        font-size: clamp(1.125rem, 1vw + 0.7rem, 1.4rem);
        font-family: variables.$font-serif;
    }

    &__subheading {
        color: white;
        margin-bottom: 0;
        margin-top: 0.3rem;
        font-size: clamp(1rem, 0.8vw + 0.6rem, 1.5rem);
        font-family: variables.$font-sans;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 0.875rem;
    }

    &__text {
        margin: 0;
        font-style: normal;
    }

    &__section {
        margin-bottom: 2rem;
    }

    &__tagline {
        margin: 0.3rem 0 0 0;
    }

    // contact
    &__contact-link {
        color: white;
        text-decoration: none;
        font-style: normal;
    }

    &__address {
        font-style: normal;
    }

    &__heading_pekseso {
        margin-top: 1rem;
    }

    // social icons
    &__social-icon--img {
        width: 28px; 
        height: 28px;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    &__social-links {
        display: flex;
        flex-direction: column;
    }

    &__social-link {
        text-decoration: none;
        color: white;
        display: flex;              
        align-items: center;        
        gap: 0.5rem;               
        margin-right: 0.1rem; 
        transition: transform 0.2s ease;
    }

    &__social-link:hover {
        transform: translateY(-2px); 
    }

    &__social-link:focus-visible {
        outline: 2px solid #007acc;
        outline-offset: 2px;
    }

    &__section_info {
        margin-bottom: 0;
    }

    // legal
    &__legal,
    &__nav-link {
        color: white;
        text-decoration-thickness: .5px;
        text-underline-offset: 0.2em;
        margin-top: 1rem;
        display: block;
    }
}

// Tablet
@media screen and (min-width: 38.75rem) {
    .footer {
        &__container {
            display: grid;
            gap: 1.25rem;
            grid-template-areas: 
            "about about"
            "contact social"
            "important menu"
            "info info";
        }

        &__section_about {
            grid-area: about;
        }

        &__section_contact {
            grid-area: contact;
        }

        &__section_social {
            grid-area: social;
        }

        &__section_important {
            grid-area: important;
        }

        &__section_menu {
            grid-area: menu;
        }

        &__section_info {
            grid-area: info;
        }
    }
}

// Desktop breaipoint
@media screen and (min-width: 53.75rem) {
        .footer {
        &__container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;
            grid-template-areas: 
            "about about about about"
            "contact social important menu"
            "info info info info";
        }

        &__section_about {
            grid-area: about;
        }

        &__section_contact {
            grid-area: contact;
        }

        &__section_social {
            grid-area: social;
        }

        &__section_important {
            grid-area: important;
        }

        &__section_menu {
            grid-area: menu;
        }

        &__section_info {
            grid-area: info;

        }
    }
}
