@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";

@mixin button-cta {
    display: inline-block;
    padding: .625rem 1.25rem;
    background: variables.$color-secondary;
    border-radius: .3125rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-family: variables.$font-sans;
}

@mixin button-cta-hover {
    display: inline-block;
    padding: .625rem 1.25rem;
    background-color: variables.$color-hover;
    border-radius: .3125rem;
    border: none;
    cursor: pointer;
    transform: translateY(-4px);
    transition: all ease-in 1s;
    box-shadow: 0 8px 20px rgba(255, 200, 100, 0.3);
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: variables.$font-sans;
}

@mixin button-cta-focus-visible {
    outline: 3px solid variables.$color-outline;
    outline-offset: 3px;
}

@mixin button-cta-active {
    display: inline-block;
    padding: .625rem 1.25rem;
    background-color: variables.$color-active;
    border-radius: .3125rem;
    transform: translateY(3px);
    transition: all ease-in 1s;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: variables.$font-sans;
}

// secondary
@mixin button-cta-secondary {
    display: inline-block;
    padding: .625rem 1.25rem;
    background: white;
    border-radius: .3125rem;
    border: 1px solid variables.$color-secondary;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: variables.$color-secondary;
    text-decoration: none;
    font-weight: 400;
    font-family: variables.$font-sans;
}

@mixin button-cta-secondary-hover {
    display: inline-block;
    padding: .625rem 1.25rem;
    background: white;
    border-radius: .3125rem;
    border: 2px solid variables.$color-primary;
    cursor: pointer;
    transform: translateY(-4px);
    transition: all ease-in 1s;
    box-shadow: 0 8px 20px rgba(255, 200, 100, 0.3);
    color: variables.$color-primary;
    text-decoration: none;
    font-weight: 600;
    font-family: variables.$font-sans;
}

@mixin button-cta-seondary-focus-visible {
    outline: 3px solid variables.$color-outline;
    outline-offset: 3px;
}

@mixin button-cta-secondary-active {
    display: inline-block;
    padding: .625rem 1.25rem;
    background: variables.$color-bg;
    border-radius: .3125rem;
    transform: translateY(3px);
    transition: all ease-in 1s;
    color: variables.$color-primary;
    text-decoration: none;
    font-weight: 600;
    font-family: variables.$font-sans;
}

@mixin button-cta-text {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-family: variables.$font-sans;
    font-size: 1.2rem;

    @media screen and (max-width: 31.25rem) {
        font-size: 1rem;
    }
}